{% extends "base.html" %}
<!-- Page Title -->
     {% block page-title %}
     {% include 'page-title.html' %}
     {% endblock %}
    <!-- End Page Title -->

    {% block content %}

    <!-- Login Register Section -->
    <section id="login-register" class="login-register section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="login-register-wraper">

              <!-- Tab Navigation -->
              <ul class="nav nav-tabs nav-tabs-bordered justify-content-center mb-4" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#login-register-login-form" type="button" role="tab" aria-selected="true">
                    <i class="bi bi-box-arrow-in-right me-1"></i>Login
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#login-register-registration-form" type="button" role="tab" aria-selected="false">
                    <i class="bi bi-person-plus me-1"></i>Register
                  </button>
                </li>
              </ul>

              <!-- Tab Content -->
              <div class="tab-content">

                <!-- Login Form -->
                <div class="tab-pane fade show active" id="login-register-login-form" role="tabpanel">
                  <form action="{% url 'account:login_register' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="login">
                    <div class="mb-4">
                      <label for="login-register-login-email" class="form-label">Email address</label>
                      {{ login_form.email }}
                    </div>

                    <div class="mb-4">
                      <label for="login-register-login-password" class="form-label">Password</label>
                      {{ login_form.password }}
                    </div>

                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <div class="form-check">
                       {{ login_form.remember_me }}
                        <label class="form-check-label" for="login-register-remember-me">Remember me</label>
                      </div>
                      <!-- <a href="#" class="forgot-password">Forgot Password?</a> -->
                    </div>

                    <div class="d-grid">
                      <button type="submit" class="btn btn-primary btn-lg">Login</button>
                    </div>
                  </form>
                </div>

                <!-- Registration Form -->
                <div class="tab-pane fade" id="login-register-registration-form" role="tabpanel">
                  <form action="{% url 'account:login_register' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="register">
                    <div class="row g-3">
                      <div class="col-sm-6">
                        <div class="mb-4">
                          <label for="login-register-reg-firstname" class="form-label">First name</label>
                          {{ register_form.first_name }}
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="mb-4">
                          <label for="login-register-reg-lastname" class="form-label">Last name</label>
                          {{ register_form.last_name }}
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="mb-4">
                          <label for="login-register-reg-email" class="form-label">Email address</label>
                          {{ register_form.email }}
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="mb-4">
                          <label for="login-register-reg-password" class="form-label">Password</label>
                          {{ register_form.password }}
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="mb-4">
                          <label for="login-register-reg-confirm-password" class="form-label">Confirm password</label>
                          {{ register_form.password2 }}
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="form-check">
                          {{ register_form.agree_to_policy }}
                          <label class="form-check-label" for="login-register-terms">
                            I agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>
                          </label>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="d-grid">
                          <button type="submit" class="btn btn-primary btn-lg">Create Account</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

              </div>

            </div>
          </div>
        </div>

      </div>

    </section><!-- /Login Register Section -->
    {% endblock %}